---
- name: Create boot directory
  ansible.builtin.file:
    path: "/root/scripts/boot"
    state: directory
    owner: root
    group: root
    mode: '0700'

- name: Copy boot scripts to VM
  ansible.builtin.copy:
    src: "files/boot/"
    dest: "/root/scripts/boot/"
    owner: root
    group: root
    mode: '0755'

- name: Generate en_US.UTF-8 locale
  ansible.builtin.locale_gen:
    name: en_US.UTF-8
    state: present

- name: Update locale configuration
  ansible.builtin.lineinfile:
    path: /etc/default/locale
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    create: yes
  loop:
    - { regexp: '^LC_ALL=', line: 'LC_ALL=en_US.UTF-8' }
    - { regexp: '^LANG=', line: 'LANG=en_US.UTF-8' }
    - { regexp: '^LANGUAGE=', line: 'LANGUAGE=en_US.UTF-8' }

- name: Make first-boot scripts executable
  ansible.builtin.file:
    path: /root/scripts/boot
    mode: '0755'
    recurse: yes
    state: directory

- name: Set executable permission on boot scripts
  ansible.builtin.shell: chmod +x /root/scripts/boot/*.sh
  args:
    warn: false

- name: Create cloud-init first-boot configuration
  ansible.builtin.copy:
    dest: /etc/cloud/cloud.cfg.d/99-first-boot.cfg
    content: |
      #cloud-config
      runcmd:
        - for script in /root/scripts/boot/*.sh; do [ -f "$script" ] && bash "$script"; done
    mode: '0644'