[Unit]
Description=Enable NVIDIA PPCIe GPUs
DefaultDependencies=no
Before=systemd-modules-load.service
Before=nvidia-persistenced.service
Before=nvidia.service
Before=nvidia-uvm.service
Before=nvidia-drm.service

ConditionPathExists={{ ppcie_script_path }}

[Service]
Type=oneshot
ExecStart={{ ppcie_script_path }}
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
