[Unit]
Description=Enable NVIDIA PPCIe GPUs in TDX VM
After=network.target nvidia-persistenced.service
Wants=nvidia-persistenced.service
ConditionPathExists={{ ppcie_script_path }}

[Service]
Type=oneshot
ExecStart={{ ppcie_script_path }}
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
