---
apiVersion: constraints.gatekeeper.sh/v1beta1
kind: WebhookProtection
metadata:
  name: protect-admission-webhooks
  labels:
    gatekeeper.sh/system: "yes"
spec:
  match:
    kinds:
      - apiGroups: ["admissionregistration.k8s.io"]
        kinds: ["ValidatingWebhookConfiguration", "MutatingWebhookConfiguration"]
  parameters:
    protectedWebhooks:
      - "gatekeeper-validating-webhook-configuration"
      - "gatekeeper-mutating-webhook-configuration"
      - "admission-controller-webhook"
    allowedOperations:
      - "GET"
      - "LIST"
      - "WATCH"