[Unit]
Description=k3s pre-start setup
After=network-online.target
After=config-manager.service
Requires=setup-storage-bind-mounts.service
After=setup-storage-bind-mounts.service
Wants=config-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/k3s-pre-start.sh
StandardOutput=journal+console
StandardError=journal+console
TimeoutStartSec=300

[Install]
