[Unit]
Description=Initialize k3s Configuration
Requires=cloud-final.service
After=cloud-final.service network-online.target
Before=k3s.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/k3s-config-init.sh
StandardOutput=journal+console
StandardError=journal+console
TimeoutStartSec=300

[Install]
WantedBy=k3s.service
