---
- name: Setup namespaces
  ansible.builtin.include_tasks: setup_namespaces.yml
  tags: namespaces
  
- name: Setup GPU operator
  ansible.builtin.include_tasks: setup_gpu_operator.yml
  tags: gpu-operator

- name: Setup monitoring
  ansible.builtin.include_tasks: setup_monitoring.yml
  tags: monitoring

- name: Setup chutes
  ansible.builtin.include_tasks: setup_chutes.yml
  tags: chutes