---
- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: restart k3s
  ansible.builtin.systemd:
    name: k3s
    state: restarted
  when: ansible_facts.services['k3s.service'] is defined
  